.chat_screen{
    margin-top: 2em;
    width:75%;
    margin-left: auto;
    margin-right: auto;
}
.mensaje{
    border-style: solid;
    width:75%;
    margin-top: 1em;
    
}
p{
  margin-left: 1em;
  margin-top: 1em;  
}