.UserZone{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
}
#signIn{
    grid-column:2;
}
#login{
    grid-column:1;
}

#navBar{
    background-color:rgb(15, 80, 166);
    color:white;
}
.UserMenu{
    background-color:rgb(15, 80, 166);
}