body{
    background-color: rgb(15, 80, 166);
    margin:0em;
}
.grid-container{
    display:grid;
    grid-template-columns: 50% 50%;
    height:100%;
    grid-gap: 0em;
}
.mainBox{
    
    grid-column:1;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    
    border-style:solid;
    border-radius: 1em;
    border-color: rgb(242,159,5);
    width: 50%;
    justify-content: center;
    color:white;
}
a{
    color:white;
    justify-self: center;
    margin-top: 3em;
}
form{
    display:grid;
}
p{
    justify-self: center;
    font-style: italic;
}
input{
    
    width: 60%;
    overflow: hidden;
    justify-self: center;
    font-weight: bold;
    height: 2em;
}
.roulete{
    width: 60%;
    overflow: hidden;
    justify-self: center;
    font-weight: bold;
    height: 2em;
}
label{
    margin-top: 2em;
    margin-left: 2em;
}
button{
    margin-top: 3em;
    width: 50%;
    justify-self: center;
    background-color: rgb(221,242,61);
    border-style: none;

}
.contenedorImagen{
    grid-column:2;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
    
}
.imagen{
    width: inherit;
    height: inherit;
}