.gridMain{
    display:grid;
    grid-template-areas:
        "day1 day2 day3 day4 day5 day6 day7"
        "day1 day2 day3 day4 day5 day6 day7";
    margin-top: 2em;
    margin-left: auto;
    margin-right:auto;
}
.day1{
    grid-area:day1;
    background-color: chartreuse;
}

.day2{
    grid-area:day2;
}

.day3{
    grid-area:day3;
}

.day4{
    grid-area:day4;
}

.day5{
    grid-area:day5;
}
.day6{
    grid-area:day6;
}
.day7{
    grid-area:day7;
}